.filters {
	background color: white;
	height: 70px;
	width: 100%;
	max-width: 1000px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	text-align: right;
	position: relative;
}
button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	max-width: 1000px;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 30px;
}
button:hover {
	opacity: 0.9;
}
.locations, .amenities {
	height: 100%;
	max-height: 70px;
	width: 25%;
	max-width: 1000px;
	text-align: left;
	padding-left: 30px;
	float: left;
}
.filters div.locations {
	border-right: 1px solid #DDDDDD;
}
.locations h3, .amenities h3 {
	font-weight: 600;
	margin-bottom: -15px;
}
.locations h4, .amenities h4 {
	font-weight: 400;
	font-size: 14px;
}